<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/preetham-coupa/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="preetham-coupa" />
      <add key="ClearTextPassword" value="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" />
      <!-- 30 day expery token -->
    </github>
  </packageSourceCredentials>
</configuration>